<img src="/images/img5.png" class="home-img">
<div class="billboard">
    <div class="billboard-inner">
        <h1>Cooking is one of the greatest gifts.</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
             Doloribus repudiandae unde molestias excepturi perspiciatis 
             dolorum aspernatur in quibusdam magni, tempore incidunt 
       </p>
    </div>
</div>
