
 <div class="billboard">
     <img src="/images/img1.png" class="small-img">
      <div class="billboard-inner">
          <h1>BE MORE WITH LESS</h1>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
               Doloribus repudiandae unde molestias excepturi perspiciatis 
               dolorum aspernatur in quibusdam magni, tempore incidunt 
         </p>
      </div>
  </div>