<div class="billboard">
        <img src="/images/bill1.jpeg" class="billboard-img"/>
        <img src="/images/images (3).jpeg" class="billboard-img"/>
        <img src="/images/bill3.jpeg" class="billboard-img"/>
        <img src="/images/images (2).jpeg" class="billboard-img"/>
     <div class="overlay">
        <h1 class="billboard-text">Welcome to us</h1>
    </div>
</div>