<footer>
    <div class="footer-inner mt-5">
        <div class="icons">
          <a href="#"> <i class="fa fa-facebook"></i> Facebook</a>
          <a href="#"> <i class="fa fa-twitter "></i> Twitter</a>
          <a href="#"> <i class="fa fa-instagram"></i> Instagram</a>
          <a href="#"> <i class="fa fa-linkedin"></i> Linked-in</a>
        </div>

        <div class="address">
            <div class="details"><h5>Rastaurant Address</h5><p>Responsive Street 7 <br> London - United Kindom <br> Europe</p></div>
            <div class="detail"><h5>E-mail</h5><p>Contact@sampleemail.com <br> </p> Office@sampleemail.com </div>
            <div class="details"><h5>Phone Numbers</h5><p>3333 000 444 34 <br> 8888 1111 485 11 <br> 8302 0928 945 22</p></div>
        </div>
        <div class="copyright"><p>Copyright 2021, Tanyaradzwa <br> All right reserved</p></div>
    </div>
</footer>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>

</body>
</html>