<%- include("./partials/header") %>
<%- include("./partials/navbar") %>
<%- include("./partials/billboard3") %>


<div class="formBody container ">
    <div class="row">
        <div class="col-md-6 m-auto">
            <h2>A <span>RECEIPE</span>  is a story that ends with a <span>GOOD MEAL</span> </h2>
            <p>Sharing food with another human being is an intimate act that should not be indulged in lightly. <br> <br> Food brings people together on different levels, it's nourishment of the soul and body; it's truly love.</p>
            <h4>Thank <span>You ...</span> </h4>
        </div>

        <div class="col-md-6">
            <div class="form-inner ">
                <h2>Create Your Recipe</h2>
                <form action="/compose" method="POST" enctype="multipart/form-data">
                    <input type="text" name="title" class="form-control mb-2" placeholder="Recipe Name" required>
                    <textarea name="content" placeholder="Ingredients and Steps"  class="mt-5 form-control" required></textarea>
                    <br>
                    <div class="form-group">
                        <input type="file" name="Image" id="image" class="form-control-file " >
                    </div>
                    <input type="submit"  class="btn" value="Compose">
                </form>
        </div>
        </div>
    </div>
   
</div>
<%- include("./partials/footer") %>


