<%- include("./partials/header") %>
<%- include("./partials/navbar") %>
<%- include("./partials/billboard3") %>


<div class="formBody container ">

    <div class="form-inner ">
            <h3>Create Yor Recipe</h3>

            <form action="/compose" method="POST" enctype="multipart/form-data">
                <input type="text" name="title" class="form-control" placeholder="Enter Title" required>
                <textarea name="content" placeholder="Enter Content Here" rows="8" class="mt-3 form-control" required></textarea>
                <br>
                <div class="form-group">
                    <label for="image" class="image-label"> Upload An Image</label> <br>
                    <input type="file" name="pepeImage" id="image" class="form-control-file  accept='image/*' multiple">
                </div>
                <input type="submit"  class="btn" value="Compose">
            </form>

    </div>

   
</div>
<%- include("./partials/footer") %>


