<%- include("./partials/header") %>
<%- include("./partials/navbar") %>

<div class="container">
    <h1>All Blogs </h1>

    <div class="card mt-5" style="width: 18rem;">
         <div class="card-body">
          <h5 class="card-title">Blog title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Read More</a>
        </div>
      </div>

</div>

<%- include("./partials/footer") %>


