

body {
    /* font-family: 'Lato-thin' */
    font-family: 'Montserrat', sans-serif;
}

.home-img{
    position: absolute;
    z-index: -1;
    right: 0;
}

.navbar{
    background-color: rgb(255, 180, 41);
}

.navbar-brand{
    width: 20%;
    }

   .navbar-brand img{
      width:100%;
      height:80px;
      object-fit: contain;
   } 

   .navline{
       width: 35%;
   }

.nav-icons{
    justify-content: flex-end;
}

.nav-icons a{
   margin: 0 15px;
   color: black;
   font-size: 25px;
}
.nav-icons a:hover{
    color: white;
}

.nav-link{
font-size: 20px;
color: black;
margin-left: 20px;
}

.nav-link:hover{
    color: white;
}

input, textarea{
    border: 1px solid orange!important;
    border-radius: inherit!important;
    
}
input, textarea:focus{
    outline: none!important;
    box-shadow: none!important;
    color:black!important
}
.navbar-toggler{
    display: flex;
    flex-direction: column;
}

.navbar-toggler-icon{
    background-color: white!important;
    height: 3px;
   
}

h3{
    margin-bottom: 30px;
    font-size: 30px;
}

.btn{
    border:1px solid orange!important;
    border-radius: 1.8px;
    color: orange;
    width: 150px;
    height: 30%;
    margin: 10px 5px 0 0;
}

.btn:hover{
    color: white;
    background-color: orange;
}

::placeholder{
    color: black!important;
}



.formBody{
    background-color: orange;
    padding: 15px;
}

.form-inner{
    background-color: white;
    padding: 30px;
}

.footer-text{
    font-size: 12px;
    margin: 50px 0 20px 0;
}

.card{
    border:none;
    padding: 15px;
    border-radius: 0;
    box-shadow: 1px 1px 15px rgba(255, 166, 0, 0.322);

}
.posted{
    font-size: 12px;
    color: black;
}

.card-title{
    text-transform: capitalize;
    color: black;
}

.card-text{
    font-size: 16px;
    color: black;
    text-transform: capitalize;
}

#image{
    border: none!important;
    margin: 15px 0 50px 0;
}

.image-label{
    color: black;
    font-size: 25px;

}

.billboard {
    height: 45vh;
    position: relative;
  }
  
  .billboard-inner {
    position: absolute;
    top: 50%;
    left: 40%;
    -webkit-transform: translate(-30%, -50%);
            transform: translate(-30%, -50%);
    text-align: center;
  }
  
  .billboard h1 {
    margin-bottom: 15px;
    font-size: 45px;
  }

  .particular-img{
      width: 550px;
  }
  

  footer {
    background: rgba(0, 0, 0, 0.925);
    text-align: center;
  }
  
  .footer-inner{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
  }
  

  footer .icons a {
    color: #999797;
    font-size: 20px;
    margin: 20px;
  }
  
  footer .icons a:hover {
    text-decoration: none;
    color: orange
  }
  
  footer .address {
    display: flex;
    color: #999797;
    margin: 30px;
  }

  footer .address h5 {
    color: white;
    font-size: 20px;
    margin: 10px;
  }
  
  footer .address p {
    line-height: 1.5;
  }
  
  footer  .address .detail {
    margin: 0 120px;
  }
  
  footer .copyright {
    color: #999797;
    line-height: 1.3;
    margin: 15px;
    font-size: 8px;
  }
  






@media (max-width: 575px) {

    .small-img{
        width:30%
    }

    .billboard h1 {
        font-size: 28px;
        margin: 10px;
    }
    .billboard-inner {
        left: 10%;
        transform: translate(-5%, -50%);
    }

    .footer-inner {
        padding: 30px 0;
      }
      footer .icons a {
        font-size: 15px;
        margin: 6px;
      }
      footer .address {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
      }
      footer .address .detail {
        margin: 35px 0;
      }
      footer .copyright {
        margin: 0;
      }
      footer .copyright p {
        padding: 0 10px;
      }
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767px) { 
   
    .billboard-inner{
        margin: 15px 0;
    }

    .billboard h1{
        font-size: 35px;
    }

    footer .address .detail {
        margin: 0 45px;
    }
    .footer-inner{
        padding:30px 0
    }

    .footer-inner .address h5{
        font-size:15px
    }

    .footer .address p {
        font-size:10px
    }

    .copyright p{
        font-size:10px
    }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199px) { 
.billboard{
    height:27vh
}
.small-img{
    width:30%
}
}